.FormContainer_AddUser {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 60%;
  left: 20%;
  top: 10%;
  height: auto;
  padding: 10px;
}

.row {
  margin-top: 15px;
}
